/* Variables */

:root {
  --text-main-color: #434455;
  --text-title-color: #2e2f42;
  --accent-color: #4d5ae5;
  --text-second-color: #fff;
  --button-color: #f4f4fd;
  --button-hover-color: #404bbf;
  --button-border-color: #e7e9fc;
}

/* Body basic style */

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--text-color-site);
}

.container {
  width: 1158px;

  padding: 0 15px;
  margin: 0 auto;

  outline: 1px solid crimson;
}

/* Hidden headers */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  white-space: nowrap;

  border: 0;
}

/* Lists basic style */

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* Links basic style */

a {
  text-decoration: none;
}

/* Sections basic style */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Text styles */

.text-main {
  margin: 0;

  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main-color);
}

.text-title-big {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  color: var(--text-title-color);
  text-align: center;
  text-transform: capitalize;
}

.text-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--text-title-color);
}

/* Buttons */

.button {
  display: inline-block;

  font-weight: 500;
  letter-spacing: 0.04em;

  border-radius: 4px;
}

.button.primary {
  padding: 16px 32px;

  color: var(--text-second-color);

  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.secondary {
  padding: 12px 24px;

  color: var(--accent-color);

  background-color: var(--button-color);
  border: 1px solid var(--button-border-color);
}

.button.primary:hover,
.button.primary:focus {
  cursor: pointer;

  background-color: var(--button-hover-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--button-color);
  cursor: pointer;

  background-color: var(--button-hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Header padding */

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-logo {
  color: var(--text-title-color);
}

.footer-logo {
  color: var(--button-color);
}

.logo .accent {
  color: var(--accent-color);
}

/* Site nav and address */

.nav-list a {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-title-color);
}

.address-list a {
  font-style: normal;
  color: var(--text-title-color);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current,
.address-link:hover,
.address-link:focus {
  color: var(--button-hover-color);
}

/* Hero */

.hero {
  text-align: center;

  background-color: var(--text-title-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  color: var(--text-second-color);
}

/* Services section */

.services {
  padding-top: 0;
}

/* Team section */

.team {
  background-color: var(--button-color);
}

.team-item {
  background-color: var(--text-second-color);
}

/* Footer */

footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--text-title-color);
}

.footer-text {
  color: var(--button-border-color);
}
